<div class="single-page-block">
    <div class="margin-auto text-center max-width-500">
        <h1>Lỗi !</h1>
        <p>Có lỗi đã xảy ra !</p>
        <p>Liên hệ chúng tôi để thêm thông tin, hoặc tải lại trang.</p>
        <a href="@Url.Action("Index", "Banner")" class="btn btn-link">Trở lại trang chủ</a>
        <a href="https://www.google.com/" class="btn btn-link">Thêm thông tin chi tiết</a>
    </div>
</div>

